
body{
    background-color: rgb(222, 107, 14);

}
.app{
    text-transform: capitalize;
    text-align: center;
    text-shadow: 30px;
    margin-right: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin-left: 11%;
    font-size: 20px;
    background-color: rgba(178, 189, 27, 0.694);
    border-radius: 30px 90px;
    width: 49%;
    border-style: groove;
    margin-top: 5%;
    padding: 2%;
    margin-left: 23%;
}
.row{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
label{
    margin-left: 1px;
    position: relative;
}
button{
    padding: 15px;
    border: none;
    font-weight: inherit;
    font-size: 20px;
    color: blueviolet;
    background-color: rgb(181, 189, 176);
    border-radius: 5px;
    box-shadow: 60px;
    border-style: inset;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
    color: black;
    background-color: rgb(108, 25, 146);
}
h1{
    margin-left: 25%;
    font-size:larger;
}
input[type=text],input[type=password],input[type=email]{
    padding: 10px;
}